# Copy to .env only for local development. On Render, set these in the dashboard or render.yaml.

APP_NAME=Donation
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://projetdonationv2.onrender.com

LOG_CHANNEL=stderr
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=sql208.infinityfree.com
DB_PORT=3306
DB_DATABASE=if0_42083136_donation_db
DB_USERNAME=if0_42083136
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=log
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
